body {
  background: #626262;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: #cc3939;
}

.container {
  margin: 70px auto;
  overflow: hidden;
  width: 80%;
  text-align: center;
}
